* {
    margin: 0;
    padding: 0;
}

body,html {
    height: 100%;
    background-color: rgba(171, 150, 150, 0.2);
}

.container { 
  height: 100%; 
  overflow: auto;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 0.5fr 1fr 1fr 1fr ;
  text-align: center;
  box-sizing: border-box;
}

header {
  align-self: center;
  border-radius: 32px;
  grid-column: 1/4;
  padding: 32px;
  background-color: black;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
button {
    background-color: rgba(166, 151, 144, 0.122);
    border: 0;
    border-radius: 10px;
    padding: 6px;
    width: 200px;
    font-weight: 100%;
    color: rgba(250, 235, 235, 0.853);
}

#content {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: rgba(206, 187, 187, 0.37);
    grid-area: 2 / 1 / 5 / 4 ;
    border-radius: 50px;
}

img {
    margin: 16px;
    width: 400px;
}
 
.homePage,
.menuPage,
.aboutPage {
    height: 80%;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.menuPage,
.aboutPage {
  flex-direction: column;
}
